@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');


/* 기본 틀 */
* {
	font-family: "Pretendard Variable";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

header {
	position: fixed;
	height: 8vh;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	z-index: 1000;
	background-color: white;
	padding-inline-end: 22px;
	padding-inline-start: 24px;
}

.xi-angle-left, .xi-angle-right {
	color: #757575;
}

.headerTitle {
	font-family: "NanumSquare" !important;
	font-size: 18px;
	text-align: center;
	font-weight: 900;
	margin: 20px 50px;
}

footer {
	bottom: 0;
	position: fixed;
	height: 9vh;
	width: 100%;
	z-index: 1000;
	background-color: white;
}

main {
	padding-top: 9vh;
	
}

.blank {
	width: 21px;
}

.searchForm {
	margin-top: 15%;
}

.space {
	width : 90%;
	margin : 0 auto;
}

.line {
	border: 0.5px solid #e7e7e7; 
	margin-top: 10px;
	margin-bottom: 10px;
}

select[name="selectOption"] {
	
	padding: 1%;
	border-radius: 5px;
	border-color: lightgrey;
	background-color: white;
	box-shadow: none;
}

.xi-search {
	color: #00C9FF;
	background-color: white;
	border: none;
	box-shadow: none;
}

#searchWordInput {
	width: 60%;
	height: 30px;
	box-shadow: none;
	margin: 3% 2% 0 2%;
	padding: 1%;
	align-items: center;
	border: 1px solid #F5F5F5;
	border-radius: 8px;
}

#boardButtonsContainer {
	width: 100%;
	height: 7vh;
	background-color: white;
	z-index: 999;
	display: flex;
	position: fixed;
	top: 8%;
	
}

#qnaBoardBoldButton, #freeBoardBoldButton,
#qnaBoardButton, #freeBoardButton {
   
    border: none; 
}


#qnaBoardBoldButton, #freeBoardBoldButton {
	height: 7vh;
	text-align: center;
	display: flex;
	font-size: 17px;
	font-weight: 600;
	color: black;
	border-bottom: 2px solid black;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-color: white;
	
}

#qnaBoardButton, #freeBoardButton {
	height: 7vh;
	text-align: center;
	display: flex;
	font-size: 17px;
	font-weight: 600;
	color: #BFBFBF;
	border-bottom: 2px solid #E0E0E0;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-color: white;
	
}

.bcontent{
	font-size: small;
	color: grey;
	margin-top: 2%;
}

#qnaBoard, #freeBoard{
	margin-top: 7%;
}

