@charset "UTF-8";

@import
	url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css")
	;

@import
	url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css')
	;
a{
	color: black;
}
* {
	font-family: "Pretendard Variable";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.header {
	height: 7vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	border-bottom: 0.1pt solid #9E9E9E;
}

#blank {
	width: 64px;
}

.headerTitle {
	font-size: 40px;
	text-align: center;
	font-weight: bolder;
	width: 600px;
}

#chatt {
	width: 100%;
	height: 93vh;
}

#talk {
	position: relative;
	height: 86vh;
	overflow-y: scroll; /* y 축만 스크롤되도록 수정 */
	padding-top: 43px;
}

#sendZone>* {
	vertical-align: top;
}

#sendZone {
	display: flex;
	height: 7vh;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: center;
	background-color: white;
	border-top: 0.01rem solid #0E0E0E;
}

#msg {
	padding: 5px;
	width: 85%;
	height: 5vh;
	border-radius: 20px;
	border: none;
	background-color: #F5F5F5;
	font-size: 50px;
}

#btnSend {
	color: #1976D2;
	height: 5vh;
	border-radius: 20px;
	display: flex;
	align-content: center;
	flex-wrap: wrap;
	justify-content: center;
}

#content {
	max-width: 100%;
	white-space: normal;
	font-size: 42px;
}

.me {
	display: flex;
	justify-content: flex-end;
}

.other {
	display: flex;
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.message {
	padding: 15px;
	border-radius: 7px;
	max-width: 65%;
	margin: 10px;
	font-size: 30px;
}

.me .message {
	background-color: #00C9FF;
	color: white;
	min-height: 100px;
	word-wrap: break-word; /* 줄바꿈 속성 추가 */
	margin-right: 30px;
}

.other .message {
	background-color: #EEEEEE;
	min-height: 100px;
	word-wrap: break-word; /* 줄바꿈 속성 추가 */
	margin-left: 30px;
}

.date {
	margin: 0px 10px 10px 0px;
	font-size: 25px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-end;
}

textarea:focus {
	outline: none;
	border: none;
}