@charset "UTF-8";

@import
	url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css")
	;

@import
	url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css')
	;

/* 기본 틀 */
* {
	font-family: "Pretendard Variable";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

header {
	position: fixed;
	height: 8vh;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	z-index: 1000;
	background-color: white;
	padding-inline-end: 22px;
	padding-inline-start: 24px;
}

.xi-angle-left, .xi-angle-right {
	color: #757575;
}

.headerTitle {
	font-family: "NanumSquare" !important;
	font-size: 18px;
	text-align: center;
	font-weight: 900;
	margin: 20px 50px;
}

footer {
	bottom: 0;
	position: fixed;
	height: 9vh;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
	align-items: center;
	z-index: 1000;
	background-color: white;
}

main {
	padding-top: 9vh;
}

.blank {
	width: 21px;
}

.graySeperate {
	height: 15px;
	background-color: #F5F5F5;
}

.margin-right {
	margin-right: 4px;
}

.margin-left {
	margin-left: 4px;
}

/* main */
.doctorHeader {
	width: 90%;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	height: 110px;
	align-items: center;
	margin-bottom: 15px;
}

.doctorImg {
	width: 90px;
	height: 90px;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50px;
	border: 1px solid #F5F5F5;
	overflow: hidden;
}

.doctorImg img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.doctorInfo {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 60%;
	padding: 0 10px;
	height: 90px;
	justify-content: space-between;
}

.doctorInfoHeader {
	display: flex;
	align-items: flex-end;
}

.doctorName {
	font-size: 20px;
	font-weight: 700;
	margin-right: 10px;
}

.doctorStatus {
	font-size: 11px;
}

.doctorInfoBody {
	display: flex;
	font-size: 14px;
	color: #5c5c5c;
}

.dotorSpecialist, .dotorTelehealth {
	display: flex;
	align-items: center;
	margin-right: 10px;
}

.availableCircle {
	color: #0091FF;
}

.unavailableCircle {
	color: #9E9E9E;
}

.doctorInfoFooter {
	width: 90%;
	display: flex;
	font-size: 13px;
	align-items: flex-end;
}

.reviewScore {
	margin: 0 4px;
}

.reviewCount {
	color: #5c5c5c;
	font-size: 12px;
}

.dotorSpecialist {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	font-size: 13px;
	color: #5c5c5c;
}

.reviewEdit {
	display: none;
}

/* 의사 상세정보 */
.doctorBar {
	width: 100%;
	height: 7vh;
	background-color: white;
	z-index: 999;
	display: flex;
}

.doctorBarIntroduce {
	height: 7vh;
	text-align: center;
	display: flex;
	font-size: 15px;
	font-weight: 600;
	color: #BFBFBF;
	border-bottom: 2px solid #E0E0E0;
	justify-content: center;
	align-items: center;
	width: 50%;
}

.doctorInfoBox {
	padding: 23px 0 35px 0;
}

.doctorTitle {
	font-size: 19px;
	font-weight: 700;
	width: 90%;
	margin: 0 auto;
	margin-bottom: 22px;
}

.doctorIntroduce {
	width: 90%;
	margin: 0 auto;
	font-size: 13px;
	background-color: #F5F5F5;
	border-radius: 20px;
	padding: 20px;
}

.doctorCareer {
	width: 90%;
	margin: 0 auto;
	font-size: 15px;
}

.doctorHospital {
	display: flex;
	align-items: center;
	margin: 0 auto;
	width: 90%;
	height: 50px;
}

.hospitalImg {
	width: 22%;
	display: flex;
}

.hospitalBox {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100%;
	width: 70%;
}

.hospitalName {
	font-size: 16px;
	font-weight: 500;
}

.hospitalAddr {
	font-size: 14px;
	color: #5c5c5c;
}

/* footer */
.submit {
	width: 90%;
	height: 80%;
	border-radius: 7px;
	color: #787878;
	background-color: #ebebeb;
	border: none;
	font-size: 15px;
	font-weight: 500;
}

.submit button {
	font-size: 15px;
	font-weight: 500;
	color: #787878;
	background-color: #ebebeb;
	border: none;
}

.submit-btn-css {
	background-color: #00C9FF;
	color: white;
}