@charset "UTF-8";

body {
	margin-top: 90px;
}

.btn {
	border: 0;
	background-color: #00C9FF;
	border-radius: 15px;
	color: white;
	width: 250px;
	height: 30px;
	margin-bottom: 30px;
}

.article {
	margin: 0 auto;
	text-align: center;
	width: 600px;
	border: 1px solid gray;
	border-radius: 15px;
}

input {
	text-align: left;
	margin-left: 100px;
}

.Group {
	width: 430px;
	height: 40px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.vector {
	width: 220px;
	border-width: 0 0 1px;
}

.content {
	margin-bottom: 30px;
}

.cm-toggle {
	-webkit-appearance: none;
	-webkit-tap-highlight-color: transparent;
	position: absolute;
	border: 0;
	outline: 0;
	cursor: pointer;
	margin-left: 270px;
	margin-top: -2px;
}


.cm-toggle:after {
	content: '';
	width: 55px;
	height: 20px;
	display: inline-block;
	background: rgba(196, 195, 195, 0.55);
	border-radius: 18px;
	clear: both;
}

.cm-toggle:before {
	content: '';
	width: 24px;
	height: 24px;
	display: block;
	position: absolute;
	left: 0;
	top: -3px;
	border-radius: 50%;
	background: rgb(255, 255, 255);
	box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}

.cm-toggle:checked:before {
	left: 32px;
	box-shadow: -1px 1px 3px rgba(0, 0, 0, 0.6);
}

.cm-toggle:checked:after {
	background: #00C9FF;
}

.cm-toggle,
.cm-toggle:before,
.cm-toggle:after,
.cm-toggle:checked:before,
.cm-toggle:checked:after {
	transition: ease .3s;
	-webkit-transition: ease .3s;
	-moz-transition: ease .3s;
	-o-transition: ease .3s;
}