@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

/* 기본 틀 */
* {
	font-family: "Pretendard Variable";
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: white;
}

header {
	position: fixed;
	height: 8vh;
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	z-index: 1000;
	background-color: white;
	padding-inline-end: 22px;
	padding-inline-start: 24px;
}

.xi-angle-left, .xi-angle-right {
	color: #757575;
}

.headerTitle {
	font-family: "NanumSquare" !important;
	font-size: 18px;
	text-align: center;
	font-weight: 900;
	margin: 20px 50px;
}

footer {
	bottom: 0;
	position: fixed;
	height: 9vh;
	width: 100%;
	z-index: 1000;
	background-color: white;
}

main {
	padding-top: 9vh;
	
}

.blank {
	width: 21px;
}

/* 컨텐츠 */



.space {
	width: 90%;
	margin: 0 auto;
}

.freeContainer {
	margin-top: -17%;
}

select[name="selectOption"] {
	margin: 3% 1% 3% 0%;
	border-radius: 5px;
	border-color: lightgrey;
	background-color: white;
	box-shadow: none;
}

.xi-search {
	color: #00C9FF;
	background-color: white;
	border: none;
	box-shadow: none;
}

.searchForm {
	margin-top: 15%;
}

#searchWordInput {
	width: 60%;
	height: 30px;
	box-shadow: none;
	margin: 3% 3% 3.7% 0;
	padding: 1%;
	align-items: center;
	border: 1px solid #F5F5F5;
	border-radius: 8px;
}

#boardButtonsContainer {
	width: 100%;
	height: 7vh;
	background-color: white;
	z-index: 999;
	display: flex;
	position: fixed;
	top: 8%;
	
}

#qnaBoardBoldButton, #freeBoardBoldButton,
#qnaBoardButton, #freeBoardButton {
   
    border: none; 
}


#qnaBoardBoldButton, #freeBoardBoldButton {
	height: 7vh;
	text-align: center;
	display: flex;
	font-size: 17px;
	font-weight: 600;
	color: black;
	border-bottom: 2px solid black;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-color: white;
	
}

#qnaBoardButton, #freeBoardButton {
	height: 7vh;
	text-align: center;
	display: flex;
	font-size: 17px;
	font-weight: 600;
	color: #BFBFBF;
	border-bottom: 2px solid #E0E0E0;
	justify-content: center;
	align-items: center;
	width: 50%;
	background-color: white;
	
}

.writeButton {
	padding: 1%;
	background-color: #00C9FF;
	color: white;
	border-radius: 5px;
	border: none;
	box-shadow: none;
	font-weight: bold;
		float: right;
		width:20%;
	
}


.backGroundBar {
	height: 35px;
	background-color: #F5F5F5;
	border-top: 1px solid #d5d2d2;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #5c5c5c;
}

#selectDepartment {
		border: none;
	background-color: #F5F5F5;
	color: #5c5c5c;
	font-size: 12px;
	height: 100%;
	padding: 5px;
}

a {
    text-decoration: none;
}

.rightSide {
	 display: flex;
  justify-content: flex-end;
  align-items: center; 
  color: black;
}

.rightSide > div {
  margin-right: 3%; /* 각 요소 사이의 간격 조절 */
}

.title {
	font-size: large;
	font-weight: bold;
	padding-top: 5%;
	padding-bottom: 2%;
	color:black;
}

.content {
	color:black;
	padding-bottom: 3%;
}

.kind {
	display: inline-block;
	padding: 1%;
	background-color: rgba(0, 201, 255, 0.15);
	border-color: rgba(0, 201, 255, 0.30);
	border-radius: 5px;
	color: black;
}

.wait, .count {
	padding: 1%;
	float: left;
	font-weight: bold;
}

.wait {
	color: grey;
}

.count{
	color: black;
}

.list {
	padding-top: 5%;
	padding-bottom: 8%;
}

.filterTitle {
padding-top: 5%;
font-size: large;
	font-weight: bold;
	padding-bottom: 2%;
	color:black;
}


.line {
    border: 1px solid lightgrey; 
    width: 100%; 
    margin-top: 10px;
}




.nickname {
	
	color: grey;
}

.xi-comment-o,
.xi-heart-o {
  font-size: 20px; /* 아이콘 크기 조절 */
  margin-right: 5px; /* 아이콘과 텍스트 사이 간격 조절 */
}